<section id="designer">
  <div class="description-designer">
    <h3>Designer</h3>
    <p class="description-d">
      As professional web designers, we co-create the perfect balance between business and art. when designing your websites, we create them according to the personality of the content and the message you want to convey, not according to the designer. By using friendly navigation, simple designs and focusing search optimization engines will create the perfect web design.
    </p>
  </div>
  <div class="img-designer">&nbsp;</div>
</section>