$violet: #8f073f
$purple: #581b45
$orange: #ff5738
$gray: #eee

#web-developer
  width: 100%
  height: 100vh
  background: url('/assets/images/web.jpg') no-repeat
  background-size: cover
  z-index: -99

.description-web-developer-box
  width: 50%
  height: 100vh
  display: grid
  background: repeating-linear-gradient(55deg, $gray, $gray 1px, white 1px, white 6px)
  position: relative
  z-index: 99

.description-web-developer
  margin-left: 200px
  margin-top: auto
  margin-bottom: auto
  width: 60%
  height: 70%
  background: repeating-linear-gradient(55deg, $gray, $gray 1px, white 1px, white 6px)
  padding: 50px
  position: relative

.box1
  position: absolute
  width: 50%
  height: 20%
  top: -2em
  left: -2em
  z-index: -1
  background-color: $violet

.box2
  position: absolute
  width: 50%
  height: 50%
  bottom: -2em
  right: -2em
  z-index: -1
  background: repeating-linear-gradient(55deg, $orange, $orange 2px, transparent 2px, transparent 6px)

.line

h3
  font-size: 4em
  color: $purple

.description
  color: gray
  font-size: 1.5em
  margin-top: 30px