<header id="header">
  <div class="titles">
    <h2 class="name">Daniela Bosch</h2>
    <h1 data-text="Developer">Developer</h1>
    <h1 data-text="Designer">Designer</h1>
  </div>
</header>

<div class="scroll-down-button">
  <div>
    <p>Scroll Down</p>
    <p class="material-icons">
      keyboard_arrow_down
    </p>
  </div>
</div>

<div class="logo">
  <h2>
    <span class="name-color">DB</span>
    <span class="name-nocolor">DD</span>
  </h2>
</div>

<div class="direction">
  <p>T. +54 351 7 576008</p>
  <p>E. danielarbosch @ gmail.com</p>
</div>