/* Reset StyleSheet */

*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  width: 100%
  heignt: 100%

ul, li
  list-style-type: none

a
  text-decoration: none


/* Main Styles */

body
  font-family: 'Montserrat', sans-serif
  overflow-y: hidden

h1, h2, h3, h4, h5, h6
  font-family: 'Fjalla One', sans-serif
  text-transform: uppercase
